<!-- ./views/index.hbs -->

<h1>Photos in Album</h1>
<a href="/">Back to Albums</a>
<div class="photo-grid">
  {{#each photos}}
    <div class="photo-item">
      <img
        src="/images/{{../albumUUID}}/{{this.filename}}"
        alt="{{this.filename}}"
      />
      <p>Score: {{this.score.overall}}</p>
    </div>
  {{/each}}
</div>
