<!-- We are inside the main flex container defined in application.hbs -->
<!-- Here we split the space into a left nav and a main content area side by side. -->
<!-- Each gets overflow-auto so they scroll independently. -->

<div class="h-full w-full flex">
  <!-- Left nav: fixed width, scrollable -->
  <div
    class="w-64 bg-gray-100 border-r border-gray-300 h-full overflow-auto p-4"
  >
    <ul class="menu p-0 w-full">
      {{#each this.model as |album|}}
        <li class="mb-1">
          <LinkTo
            @route="albums.album"
            @model={{album.id}}
            class="rounded hover:bg-gray-200 px-2 py-1"
          >
            {{album.title}}
          </LinkTo>
        </li>
      {{/each}}
    </ul>
  </div>

  <!-- Main content area: add id here so ember-router-scroll can find it -->
  <div id="main-content-area" class="flex-1 overflow-auto p-4">
    {{outlet}}
  </div>
</div>